.hero {
  height: 350px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-color: rgb(249, 249, 249);
  padding: 0px 5%;
}
.hero h1 {
  width: 50%;
}

@media only screen and (max-width: 599px) {
  .search-column {
    text-align: center;
  }
}
