/* Global styles */

input:focus {
  outline: none !important;
  box-shadow: none !important;
}
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.text-link {
  cursor: pointer;
}
label {
  margin-bottom: 5px;
}

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-new-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1000;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0 2px 2px #ccc;
}
.add-new-button i {
  font-size: 40px;
}

.info-text {
  font-weight: bold;
  color: #0b5ed7;
}
.help-text {
  color: rgb(154, 154, 154);
  font-size: 14px;
  font-weight: bold;
}
